{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="reset-card">
        <div class="brand-title">MarketSpark</div>

        {% if error %}
            <div class="alert alert-danger text-center">
                {{ error }}
            </div>
        {% endif %}

        {% if success %}
            <div class="alert alert-success text-center">
                {{ success }}
            </div>
        {% endif %}

        <form method="POST" action="{% url 'send_password_reset_email' %}">
            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">Enter your email</label>
                <input 
                    type="email" 
                    name="email" 
                    class="form-control" 
                    placeholder="Enter your email address"
                    required>
            </div>

            <button type="submit" class="btn btn-primary">
                Send reset email
            </button>

            <div class="extra-links">
                <p><button class=".btn-primary"><a href="{% url 'login_user' %}">Back to Login</a></button></p>
            </div>
        </form>
    </div>
{% endblock content %}