{% extends 'base.html' %}
{% load static %}

{% block content %} 
    <h1>Reset Password | PlanetPress</h1>

    <div class="reset-card">
        <div class="brand-title">PlanetPress</div>

        {% if error %}
            <div class="alert alert-danger text-center">
                {{ error }}
            </div>
        {% endif %}

        {% if success %}
            <div class="alert alert-success text-center">
                {{ success }}
            </div>
        {% endif %}

        {% if not success %}
        <form method="POST">
            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">New Password</label>
                <input 
                    type="password" 
                    name="password" 
                    class="form-control" 
                    placeholder="Enter new password"
                    required>
            </div>

            <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>
        {% endif %}
    </div>

    <footer>
        <button class=".btn-primary"><a href="{% logout_user %}">Logout</a></button>
    </footer>
{% endblock content %}